@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');


body{
    background-color: #35af91;
    font-family: 'Poppins', sans-serif;
}

.main{
    text-align: center;
    margin: auto;
    width: 450px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.main img{
    width: 250px;
    border-radius: 50%;
}

.main a{
    background-color: #047979;
    padding: 7px 25px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}